body {
  background-color: powderblue;
}

hr {
  border-style: none;
  height: 2px;
  width: 5%;
  border-top: dotted 10px white;
}

img {
  height: 200px;
}

h1 {

color: #66BFBF;

}

h3 {

color: #66BFBF;

}
